<!DOCTYPE html>
<html>
    <%- include('_head', {title: 'Assets'}) %>
    <body>
        <%- include('_navbar') %>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Assets</h1>
                    <h2 class="subtitle"><%= assets.length %> assets </h2>
                    <p class="block">
                        All registered assets are in this view.
                    </p>
                    
                    <div class="block">
                        <h1 class="title is-size-5">Asset Upload</h1>
                        <%- include('_asset_upload') %>
                    </div>

                </div>
                <div class="column is-two-thirds">
                    <h1 class="title">Available Assets</h1>
                    <%- include('_asset_list') %>
                </div>
            </div>
        </div>
    </body>
</html>

